# Firebase Client Keys (used in the frontend)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=

# Firebase Admin Keys (used in the backend)
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
